<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="rta.ae.sharekni" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="rta.ae.sharekni.Arafa.Classes.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Base"

        >
        <activity
            android:name="rta.ae.sharekni.SharekniOld"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="rta.ae.sharekni.HomePage"
            android:label="@string/title_activity_sub_navigate"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rta.ae.sharekni.SharekniOld" />
        </activity>
        <activity
            android:name="rta.ae.sharekni.TopDriversDir.TopDrivers"
            android:label="@string/title_activity_top_drivers"
            android:parentActivityName="rta.ae.sharekni.SharekniOld"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rta.ae.sharekni.SharekniOld" />
        </activity>
        <activity
            android:name="rta.ae.sharekni.DriverEditCarPool"
            android:label="@string/title_activity_top_drivers"
            android:parentActivityName="rta.ae.sharekni.SharekniOld"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rta.ae.sharekni.SharekniOld" />
        </activity>
        <activity
            android:name="rta.ae.sharekni.OnBoardDir.OnboardingActivity"
            android:label="@string/title_activity_On_Boarding"
            android:parentActivityName="rta.ae.sharekni.SharekniOld"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rta.ae.sharekni.SharekniOld" />
        </activity>
        <activity
            android:name="rta.ae.sharekni.ViewProfileActivity"
            android:label="@string/title_activity_view_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name="rta.ae.sharekni.Arafa.Activities.ImageUp"
            android:label="@string/title_activity_home_page_test"
            android:parentActivityName="rta.ae.sharekni.SharekniOld"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rta.ae.sharekni.SharekniOld" />
        </activity>
        <activity
            android:name="rta.ae.sharekni.Arafa.Activities.BestDriversBeforeLogin"
            android:label="@string/title_activity_home_page_test"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="rta.ae.sharekni.Arafa.Activities.BestRideBeforeLogin"
            android:label="@string/title_activity_home_page_test"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="rta.ae.sharekni.Arafa.Activities.Profile"
            android:label="@string/title_activity_home_page_test"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="rta.ae.sharekni.Arafa.Activities.Route"
            android:label="@string/title_activity_home_page_test"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="rta.ae.sharekni.LoginApproved"
            android:label="@string/title_activity_login_approved"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="rta.ae.sharekni.SearchOptions"
            android:label="@string/title_activity_search_options"
            android:parentActivityName="rta.ae.sharekni.SharekniOld"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rta.ae.sharekni.SharekniOld" />
        </activity>
        <activity
            android:name="rta.ae.sharekni.RegisterNewTest"
            android:label="@string/title_activity_register_new_test"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="rta.ae.sharekni.DriverProfileTest"
            android:label="@string/title_activity_my_profile_tet"
            android:screenOrientation="portrait" />
        <activity
            android:name="rta.ae.sharekni.TopRidesAfterLogin"
            android:label="@string/title_activity_top_rides_after_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="rta.ae.sharekni.TopDriversAfterLogin"
            android:label="@string/title_activity_top_drivers_after_login"
            android:parentActivityName="rta.ae.sharekni.HomePage"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rta.ae.sharekni.HomePage" />
        </activity>
        <activity
            android:name="rta.ae.sharekni.MostRidesDetails"
            android:label="@string/title_activity_most_rides_details"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="rta.ae.sharekni.ForgetPassword"
            android:label="@string/title_activity_forget_password"
            android:parentActivityName="rta.ae.sharekni.LoginApproved"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rta.ae.sharekni.LoginApproved" />
        </activity>
        <activity
            android:name="rta.ae.sharekni.ChangePasswordTest"
            android:label="@string/title_activity_change_password_test"
            android:parentActivityName="rta.ae.sharekni.HomePage"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rta.ae.sharekni.HomePage" />
        </activity>
        <activity
            android:name="rta.ae.sharekni.MyProfileTest"
            android:label="@string/title_activity_my_profile_test"
            android:parentActivityName="rta.ae.sharekni.HomePage"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rta.ae.sharekni.HomePage" />
        </activity>
        <activity
            android:name="rta.ae.sharekni.EditProfileTest"
            android:label="@string/title_activity_edit_profile_test"
            android:parentActivityName="rta.ae.sharekni.HomePage"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rta.ae.sharekni.HomePage" />
        </activity>
        <activity
            android:name="rta.ae.sharekni.QuickSearchResults"
            android:label="@string/title_activity_quick_search_results"
            android:screenOrientation="portrait" >

        </activity>
        <activity
            android:name="rta.ae.sharekni.DriverCreateCarPool"
            android:label="@string/title_activity_driver_create_car_pool"
            android:screenOrientation="portrait" >

        </activity>
        <activity
            android:name="rta.ae.sharekni.QSearch"
            android:label="@string/title_activity_qsearch"
            android:screenOrientation="portrait" >

        </activity>
        <activity
            android:name="rta.ae.sharekni.Advanced_Search"
            android:label="@string/title_activity_advanced__search"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base" >

        </activity>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="rta.ae.sharekni.MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rta.ae.sharekni.HomePage" />
        </activity>
        <activity
            android:name="rta.ae.sharekni.DriverAlertsForRequest"
            android:label="@string/title_activity_driver_alerts_for_request"
            android:parentActivityName="rta.ae.sharekni.HomePage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rta.ae.sharekni.HomePage" />
        </activity>
        <activity
            android:name="rta.ae.sharekni.RideDetailsPassenger"
            android:label="@string/title_activity_ride_details_passenger"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base" >
        </activity>
        <activity
            android:name="rta.ae.sharekni.DriverRequestDetails"
            android:label="@string/title_activity_driver_request_details"
            android:parentActivityName="rta.ae.sharekni.DriverAlertsForRequest"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rta.ae.sharekni.DriverAlertsForRequest" />
        </activity>
        <activity
            android:name="rta.ae.sharekni.DriverCreatedRides"
            android:label="@string/title_activity_driver_created_rides"
            android:parentActivityName="rta.ae.sharekni.HomePage"
            android:screenOrientation="portrait"
            app:theme="@style/AppTheme.Base" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rta.ae.sharekni.HomePage" />
        </activity>
        <activity
            android:name="rta.ae.sharekni.DriverJoinedRides"
            android:label="@string/title_activity_driver_joined_rides"
            android:parentActivityName="rta.ae.sharekni.HomePage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rta.ae.sharekni.HomePage" />
        </activity>
        <activity
            android:name="rta.ae.sharekni.SplashActivity"
            android:label="@string/title_activity_splash"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base" />
        <activity
            android:name="rta.ae.sharekni.Sharekni"
            android:label="@string/title_activity_test_vedio"
            android:screenOrientation="portrait"
            app:theme="@style/AppTheme.Base" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="rta.ae.sharekni.PassengerMyApprovedRides"
            android:label="@string/title_activity_passenger_my_approved_rides"
            android:parentActivityName="rta.ae.sharekni.HomePage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rta.ae.sharekni.HomePage" />
        </activity>
        <activity
            android:name="rta.ae.sharekni.History"
            android:label="@string/title_activity_history"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rta.ae.sharekni.HomePage" />
        </activity>
        <activity
            android:name="rta.ae.sharekni.TakeATour"
            android:label="@string/title_activity_take_atour"
            android:parentActivityName="rta.ae.sharekni.OnBoardDir.OnboardingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rta.ae.sharekni.OnBoardDir.OnboardingActivity" />
        </activity>

        <service android:name="rta.ae.sharekni.MyNotifications" />

        <activity
            android:name="rta.ae.sharekni.PickUpActivity"
            android:label="@string/title_activity_pick_up"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base" />
        <activity
            android:name="rta.ae.sharekni.TermsAndCond"
            android:label="@string/title_activity_terms_and_cond"
            android:parentActivityName="rta.ae.sharekni.RegisterNewTest"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rta.ae.sharekni.RegisterNewTest" />
        </activity>
        <activity
            android:name="rta.ae.sharekni.RegisterVehicle"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rta.ae.sharekni.HomePage" />
        </activity>
        <activity
            android:name="rta.ae.sharekni.HistoryNew"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rta.ae.sharekni.HomePage" />
        </activity>
        <activity
            android:name="rta.ae.sharekni.DriverPermits"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rta.ae.sharekni.HomePage" />
        </activity>
        <activity
            android:name="rta.ae.sharekni.ViewPermit"
            android:screenOrientation="landscape" >
        </activity>
        <activity android:name="rta.ae.sharekni.Privacy_Policy" >
        </activity>
        <activity android:name="rta.ae.sharekni.Destination_Activity" >
        </activity>
    </application>

</manifest>
